<h2>Expense Form</h2>

<input id="description" value={{@descriptionInputVal}} placeholder="Description" oninput={{action "onInput"}} onkeypress={{action "enterHandler"}}>
<select onchange={{action "onSelect" value="target.value"}}>
		<option value="" selected  hidden >Category</option>
		<option value="" selected >Category</option>
		{{#each @categoryOptions as |categoryOption|}}
		<option value={{categoryOption}}>{{categoryOption}}</option>
		{{/each}}
</select>
<input id="cost" value={{@costInputVal}} placeholder="Cost" oninput={{action "onInput"}} onkeypress={{action "enterHandler"}}>
<button {{action "addExpense"}} disabled={{@isDisabled}}>Submit</button>