<h2>{{@title}}</h2>

<ul>
		{{#each @expenses as |expense|}}
				<li><button {{action "printExpense" expense}}>{{expense.description}}</button>
				<button {{action "printExpense" expense}}>{{expense.cost}}</button></li>
		{{/each}}
</ul>