<h2>{{@title}}</h2>

<table id="expenses">
		<thead>
			<th>Description</th>
			<th>Category</th>
			<th>Cost</th>
			<th>Edit</th>
		</thead>
		<tbody>
				{{#each @expenses as |expense|}}
						<tr>
								<td>{{expense.description}}</td>
								<td>{{expense.category}}</td>
								<td>${{expense.cost}}</td>
								<td><button class="edit-button" {{action "printExpense" expense}}>Edit</button></td>
						</tr>
				{{/each}}
		</tbody>
</table>