<h2>{{@title}}</h2>

<ul>
		{{#each @expenses as |expense|}}
				<li>
						<span class="cell">{{expense.description}}</span>
						<span class="cell">{{expense.category}}</span>
						<span class="cell">{{expense.cost}}</span>
						<button {{action "printExpense" expense}}>Button</button>
				</li>
		{{/each}}
</ul>